body,
p {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

#root {
  background: #000;
  height: 100vh;
  display: flex;
  align-items: center;
}

.credit-card {
  width: 500px;
  height: 300px;
  background: rgb(12, 25, 219);
  margin: 0 auto;
  border-radius: 12px;
  color: #ffffff;
}

.bank-name {
  text-align: right;
  padding: 10px;
  font-size: 30px;
}

.card-number {
  width: 100%;
  padding-top: 50px;
}

.card-number .cardnumber-one {
  font-size: 30px;
  text-align: center;
  letter-spacing: 3px;
}

.card-number .cardnumber-two {
  font-size: 14px;
  padding-left: 84px;
}

.date-info {
  /* background: red; */
  display: flex;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  padding: 15px 0;
}

.validtime {
  font-size: 12px;
}

.date-valid {
  font-size: 25px;
  padding: 0 5px;
}

.Card-holder-name {
  /* background: red; */
  padding: 20px;
  font-size: 20px;
}
